body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.mainBox {
  width: 100%;
  height: 200px;
  background-color: rgb(182, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid blue;
}
h1 {
  text-transform: uppercase;
  text-align: center;
}
.mainBox h1 {
  padding: 20px;
  background-color: white;
  width: 20%;
  border-radius: 10px;
  border: 2px solid blue;
}
.increment,
.decrement,
.reset {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  margin: 10px 40px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}
